<div class="box" style="margin: 10px">
  <p class="title is-4">New Post</p>
  <form [formGroup]="postFormEditor" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input type="text" class="input" formControlName="title" />
      </div>
    </div>
    <div
      *ngIf="
        !postFormEditor.get('title')?.valid &&
        (postFormEditor.get('title')?.touched ||
          postFormEditor.get('title')?.dirty)
      "
    >
      <p class="help is-danger" *ngIf="postFormEditor.get('title')?.hasError('required')">
        Post title is required
      </p>
      <p class="help is-danger" *ngIf="postFormEditor.get('title')?.hasError('minlength')">
        Post title must contain at least 5 characters.
      </p>
      <p class="help is-danger" *ngIf="postFormEditor.get('title')?.hasError('forbiddenTag')">
        Post title must not contain a script tag.
      </p>
    </div>

    <div class="field">
      <label class="label">Body</label>
      <div class="control">
        <textarea class="textarea" formControlName="body"></textarea>
      </div>
    </div>
    <button
      type="submit"
      [ngClass]="{ 'is-loading': loading }"
      [disabled]="!postFormEditor.valid"
      class="button is-link"
    >
      Submit
    </button>
  </form>
  <p>{{ postFormEditor.value | json }}</p>
  <p>{{ postFormEditor.status }}</p>
  <!-- <form #postForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input
          type="text"
          class="input"
          name="title"
          [(ngModel)]="postData.title"
          #titleInput="ngModel"
          required
          forbiddenTag
          minlength="5"
          [ngClass]="{
            'is-danger':
              !titleInput.valid && (titleInput.dirty || titleInput.touched)
          }"
          placeholder="Your post title"
        />
        <div
          *ngIf="!titleInput.valid && (titleInput.dirty || titleInput.touched)"
        >
          <p class="help is-danger" *ngIf="titleInput.errors?.required">
            Post title is required
          </p>
          <p class="help is-danger" *ngIf="titleInput.errors?.minlength">
            Post title must contain at least 5 characters
          </p>
          <p class="help is-danger" *ngIf="titleInput.errors?.forbiddenTag">
            Post title cannot contain a script tag
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Body</label>
      <div class="control">
        <textarea
          class="textarea"
          name="body"
          [(ngModel)]="postData.body"
          #bodyArea="ngModel"
          required
          forbiddenTag
          minlength="10"
          [ngClass]="{
            'is-danger': !bodyArea.valid && (bodyArea.dirty || bodyArea.touched)
          }"
          placeholder="Your post body"
        ></textarea>
        <div *ngIf="!bodyArea.valid && (bodyArea.dirty || bodyArea.touched)">
          <p class="help is-danger" *ngIf="bodyArea.errors?.required">
            Post body is required
          </p>
          <p class="help is-danger" *ngIf="bodyArea.errors?.minlength">
            Post body must contain at least 10 characters
          </p>
          <p class="help is-danger" *ngIf="bodyArea.errors?.forbiddenTag">
            Post body cannot contain any script tags.
          </p>
        </div>
      </div>
    </div>
    <div class="control">
      <button
        type="submit"
        [ngClass]="{ 'is-loading': loading }"
        [disabled]="!postForm.valid"
        class="button is-link"
      >
        Submit
      </button>
    </div>
  </form> -->
  <p *ngIf="success" class="is-3 has-text-success">Post has been created!</p>
</div>
