<div class="box" style="margin: 10px">
  <p class="title is-4">New Post</p>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input type="text" class="input" placeholder="Your post title" />
    </div>
  </div>
  <div class="field">
    <label class="label">Body</label>
    <div class="control">
      <textarea class="textarea" placeholder="Your post body" ></textarea>
    </div>
  </div>
  <div class="control">
      <button class="button is-link">Submit</button>
  </div>
</div>
